.element-hidden {
    display: none;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
}

td.menu-disabled {
    background: #ccc;
}

ul.inline,
ul.links.inline {
    display: inline;
    padding-left: 0;
}

ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}

.breadcrumb {
    padding-bottom: 0.5em;
}

ul.primary {
    border-bottom: 1px solid #bbb;
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    list-style: none;
    margin: 5px;
    padding: 0 0 0 1em;
    white-space: nowrap;
}

ul.primary li {
    display: inline;
}

ul.primary li a {
    background-color: #ddd;
    border-color: #bbb;
    border-style: solid solid none solid;
    border-width: 1px;
    height: auto;
    margin-right: 0.5em;
    padding: 0 1em;
    text-decoration: none;
}

ul.primary li.active a {
    background-color: #fff;
    border: 1px solid #bbb;
    border-bottom: 1px solid #fff;
}

ul.primary li a:hover {
    background-color: #eee;
    border-color: #ccc;
    border-bottom-color: #eee;
}

ul.secondary {
    border-bottom: 1px solid #bbb;
    padding: 0.5em 1em;
    margin: 5px;
}

ul.secondary li {
    border-right: 1px solid #ccc;
    display: inline;
    padding: 0 1em;
}

ul.secondary a {
    padding: 0;
    text-decoration: none;
}

ul.secondary a.active {
    border-bottom: 4px solid #999;
}

div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
}

fieldset {
    margin-bottom: 1em;
    padding: 0.5em;
}

form {
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid gray;
    height: 1px;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 3px solid #ccc;
    padding-right: 1em;
    text-align: left;
}

tbody {
    border-top: 1px solid #ccc;
}

tr.even,
tr.odd {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
}

th.active img {
    display: inline;
}

td.active {
    background-color: #ddd;
}

.item-list .title {
    font-weight: bold;
}

.item-list ul {
    margin: 0 0 0.75em 0;
    padding: 0;
}

.item-list ul li {
    margin: 0 0 0.25em 1.5em;
    padding: 0;
}

.form-item,
.form-actions {
    margin-top: 1em;
    margin-bottom: 1em;
}

tr.odd .form-item,
tr.even .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}

.form-item .description {
    font-size: 0.85em;
}

label {
    display: block;
    font-weight: bold;
}

label.option {
    display: inline;
    font-weight: normal;
}

.form-checkboxes .form-item,
.form-radios .form-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.form-type-radio .description,
.form-type-checkbox .description {
    margin-left: 2.4em;
}

input.form-checkbox,
input.form-radio {
    vertical-align: middle;
}

.marker,
.form-required {
    color: #f00;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
    border: 2px solid red;
}

.container-inline .form-actions,
.container-inline.form-actions {
    margin-top: 0;
    margin-bottom: 0;
}

.more-link {
    text-align: right;
}

.more-help-link {
    text-align: right;
}

.item-list .pager {
    clear: both;
    text-align: center;
}

.item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
}

.pager-current {
    font-weight: bold;
}

#autocomplete li.selected {
    background: #0072b9;
    color: #fff;
}

#aggregator .feed-source .feed-title {
    margin-top: 0;
}

#aggregator .feed-source .feed-image img {
    margin-bottom: 0.75em;
}

#aggregator .feed-source .feed-icon {
    float: right;
    display: block;
}

#aggregator .feed-item {
    margin-bottom: 1.5em;
}

#aggregator .feed-item-title {
    margin-bottom: 0;
    font-size: 1.3em;
}

#aggregator .feed-item-meta,
#aggregator .feed-item-body {
    margin-bottom: 0.5em;
}

#aggregator .feed-item-categories {
    font-size: 0.9em;
}

#aggregator td {
    vertical-align: bottom;
}

#aggregator td.categorize-item {
    white-space: nowrap;
}

#aggregator .categorize-item .news-item .body {
    margin-top: 0;
}

#aggregator .categorize-item h3 {
    margin-bottom: 1em;
    margin-top: 0;
}

.container-inline-date {
    clear: both;
}

.container-inline-date .form-item {
    float: none;
    margin: 0;
    padding: 0;
}

.container-inline-date > .form-item {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: top;
}

fieldset.date-combo .container-inline-date > .form-item {
    margin-bottom: 10px;
}

.container-inline-date .form-item .form-item {
    float: left;
}

.container-inline-date .form-item,
.container-inline-date .form-item input {
    width: auto;
}

.container-inline-date .description {
    clear: both;
}

.container-inline-date .form-item input,
.container-inline-date .form-item select,
.container-inline-date .form-item option {
    margin-right: 5px;
}

.container-inline-date .date-spacer {
    margin-left: -5px;
}

.views-right-60 .container-inline-date div {
    margin: 0;
    padding: 0;
}

.container-inline-date .date-timezone .form-item {
    clear: both;
    float: none;
    width: auto;
}

.container-inline-date .date-padding {
    float: left;
}

fieldset.date-combo .container-inline-date .date-padding {
    padding: 10px;
}

.views-exposed-form .container-inline-date .date-padding {
    padding: 0;
}

#calendar_div,
#calendar_div td,
#calendar_div th {
    margin: 0;
    padding: 0;
}

#calendar_div,
.calendar_control,
.calendar_links,
.calendar_header,
.calendar {
    border-collapse: separate;
    margin: 0;
    width: 185px;
}

.calendar td {
    padding: 0;
}

span.date-display-single {}

span.date-display-start {}

span.date-display-end {}

.date-prefix-inline {
    display: inline-block;
}

.date-clear {
    clear: both;
    display: block;
    float: none;
}

.date-no-float {
    clear: both;
    float: none;
    width: 98%;
}

.date-float {
    clear: none;
    float: left;
    width: auto;
}

.date-float .form-type-checkbox {
    padding-right: 1em;
}

.form-type-date-select .form-type-select[class*=hour] {
    margin-left: .75em;
}

.date-container .date-format-delete {
    float: left;
    margin-top: 1.8em;
    margin-left: 1.5em;
}

.date-container .date-format-name {
    float: left;
}

.date-container .date-format-type {
    float: left;
    padding-left: 10px;
}

.date-container .select-container {
    clear: left;
    float: left;
}

div.date-calendar-day {
    background: #F3F3F3;
    border-top: 1px solid #EEE;
    border-left: 1px solid #EEE;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    color: #999;
    float: left;
    line-height: 1;
    margin: 6px 10px 0 0;
    text-align: center;
    width: 40px;
}

div.date-calendar-day span {
    display: block;
    text-align: center;
}

div.date-calendar-day span.month {
    background-color: #B5BEBE;
    color: white;
    font-size: .9em;
    padding: 2px;
    text-transform: uppercase;
}

div.date-calendar-day span.day {
    font-size: 2em;
    font-weight: bold;
}

div.date-calendar-day span.year {
    font-size: .9em;
    padding: 2px;
}

.date-form-element-content-multiline {
    padding: 10px;
    border: 1px solid #CCC;
}

.form-item.form-item-instance-widget-settings-input-format-custom,
.form-item.form-item-field-settings-enddate-required {
    margin-left: 1.3em;
}

#edit-field-settings-granularity .form-type-checkbox {
    margin-right: .6em;
}

.date-year-range-select {
    margin-right: 1em;
}

#ui-datepicker-div {
    font-size: 100%;
    font-family: Verdana, sans-serif;
    background: #eee;
    border-right: 2px #666 solid;
    border-bottom: 2px #666 solid;
    z-index: 9999;
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    float: left;
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 49%;
}

.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
    float: right;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

.ui-datepicker.ui-datepicker-multi {
    width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
}

.ui-datepicker-rtl {
    direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

.atom-align-right {
    float: right;
}

.atom-align-left {
    float: left;
}

.atom-align-center {
    margin: 0 auto;
    display: table;
}

.field .field-label {
    font-weight: bold;
}

.field-label-inline .field-label,
.field-label-inline .field-items {
    float: left;
}

form .field-multiple-table {
    margin: 0;
}

form .field-multiple-table th.field-label {
    padding-left: 0;
}

form .field-multiple-table td.field-multiple-drag {
    width: 30px;
    padding-right: 0;
}

form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
    padding-right: .5em;
}

form .field-add-more-submit {
    margin: .5em 0 0;
}

.node-unpublished {
    background-color: #fff4f4;
}

.preview .node {
    background-color: #ffffea;
}

td.revision-current {
    background: #ffc;
}

#permissions td.module {
    font-weight: bold;
}

#permissions td.permission {
    padding-left: 1.5em;
}

#permissions tr.odd .form-item,
#permissions tr.even .form-item {
    white-space: normal;
}

#user-admin-settings fieldset .fieldset-description {
    font-size: 0.85em;
    padding-bottom: .5em;
}

#user-admin-roles td.edit-name {
    clear: both;
}

#user-admin-roles .form-item-name {
    float: left;
    margin-right: 1em;
}

.password-strength {
    width: 17em;
    float: right;
    margin-top: 1.4em;
}

.password-strength-title {
    display: inline;
}

.password-strength-text {
    float: right;
    font-weight: bold;
}

.password-indicator {
    background-color: #C4C4C4;
    height: 0.3em;
    width: 100%;
}

.password-indicator div {
    height: 100%;
    width: 0%;
    background-color: #47C965;
}

input.password-confirm,
input.password-field {
    width: 16em;
    margin-bottom: 0.4em;
}

div.password-confirm {
    float: right;
    margin-top: 1.5em;
    visibility: hidden;
    width: 17em;
}

div.form-item div.password-suggestions {
    padding: 0.2em 0.5em;
    margin: 0.7em 0;
    width: 38.5em;
    border: 1px solid #B4B4B4;
}

div.password-suggestions ul {
    margin-bottom: 0;
}

.confirm-parent,
.password-parent {
    clear: left;
    margin: 0;
    width: 36.3em;
}

.profile {
    clear: both;
    margin: 1em 0;
}

.profile .user-picture {
    float: right;
    margin: 0 1em 1em 0;
}

.profile h3 {
    border-bottom: 1px solid #ccc;
}

.profile dl {
    margin: 0 0 1.5em 0;
}

.profile dt {
    margin: 0 0 0.2em 0;
    font-weight: bold;
}

.profile dd {
    margin: 0 0 1em 0;
}

#taxonomy-form-term .form-item-description-format {
    display: none;
}

.page-node-edit,
.page-node-add,
.page-admin-microsite {}

.page-node-edit #edit-title,
.page-node-add #edit-title,
.page-admin-microsite #edit-title {
    font-size: 1.2em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    *width: 98%;
}

.page-node-edit .form-item-title,
.page-node-add .form-item-title,
.page-admin-microsite .form-item-title {
    margin-bottom: 0;
    padding-bottom: .25em;
}

.page-node-edit .form-item-title label,
.page-node-add .form-item-title label,
.page-admin-microsite .form-item-title label {
    display: none;
}

.page-node-edit #edit-body .form-type-textarea,
.page-node-add #edit-body .form-type-textarea,
.page-admin-microsite #edit-body .form-type-textarea {
    padding-top: .25em;
}

.page-node-edit #edit-body,
.page-node-add #edit-body,
.page-admin-microsite #edit-body {
    width: 100%;
}

.page-node-edit .form-item-path-alias label,
.page-node-add .form-item-path-alias label,
.page-admin-microsite .form-item-path-alias label {
    float: left;
    font-weight: 400;
}

.page-node-edit .form-item-path-alias,
.page-node-add .form-item-path-alias,
.page-admin-microsite .form-item-path-alias {
    margin-top: .25em;
    margin-bottom: .25em;
    padding: 0;
    font-size: .8em;
    vertical-align: middle;
    min-height: 1.2em;
}

.page-node-edit .form-item-path-alias input,
.page-node-add .form-item-path-alias input,
.page-admin-microsite .form-item-path-alias input {
    margin-left: 4px;
    padding-top: 0;
    padding-bottom: 0;
}

.page-node-edit .form-item-machine-name label,
.page-node-edit .form-item-date label,
.page-node-edit .form-item-name label,
.page-node-add .form-item-machine-name label,
.page-node-add .form-item-date label,
.page-node-add .form-item-name label,
.page-admin-microsite .form-item-machine-name label,
.page-admin-microsite .form-item-date label,
.page-admin-microsite .form-item-name label {
    float: left;
    font-weight: 400;
    margin-right: 5px;
    margin-top: 5px;
}

.page-node-edit .form-actions input,
.page-node-add .form-actions input,
.page-admin-microsite .form-actions input {
    border: 1px solid #ccc;
    margin-bottom: .5em;
    margin-right: 1em;
    font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
    text-decoration: none;
    height: 33px;
    color: #666;
    cursor: pointer;
    outline: none;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #FAFAFA;
    background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E9EAEC), color-stop(1, #FAFAFA));
    -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
    -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
    box-shadow: 0 3px 3px 0 #d2d2d2;
    padding: 0 13px 1px;
}

.page-node-edit .form-actions input:hover,
.page-node-add .form-actions input:hover,
.page-admin-microsite .form-actions input:hover {
    background: #E6E6E6;
    background-image: linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
    background-image: -o-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
    background-image: -moz-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
    background-image: -webkit-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
    background-image: -ms-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #C5C5C5), color-stop(1, #FAFAFA));
}

.page-node-edit .form-actions input:active,
.page-node-add .form-actions input:active,
.page-admin-microsite .form-actions input:active {
    outline: none;
    background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E9EAEC), color-stop(1, #FAFAFA));
    -webkit-box-shadow: 0 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
}

.page-node-edit .image-widget .form-submit,
.page-node-edit .file-widget .form-submit,
.page-node-add .image-widget .form-submit,
.page-node-add .file-widget .form-submit,
.page-admin-microsite .image-widget .form-submit,
.page-admin-microsite .file-widget .form-submit {
    border: 1px solid #CCCCCC;
    margin-bottom: 0;
    font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
    text-decoration: none;
    height: 33px;
    color: #666;
    cursor: pointer;
    outline: none;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #FAFAFA;
    background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E9EAEC), color-stop(1, #FAFAFA));
    -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
    -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
    box-shadow: 0 3px 3px 0 #d2d2d2;
    padding: 0 13px 1px;
}

#edit-content-settings input.form-text {
    width: 98%;
}

#edit-content-settings .link-field-column {
    float: left;
    width: 49%;
}

#edit-content-settings .form-managed-file input {
    float: left;
    margin-top: .5em;
    margin-bottom: .5em;
}

.page-node-edit,
.page-node-add {}

.page-node-edit .pane-node-form-menu .form-item-menu-parent label,
.page-node-edit .pane-node-form-menu .form-item-menu-link-title label,
.page-node-add .pane-node-form-menu .form-item-menu-parent label,
.page-node-add .pane-node-form-menu .form-item-menu-link-title label {
    float: left;
    margin-right: 4px;
    font-weight: normal;
    width: 49px;
}

.page-node-edit .field-name-field-featured-categories > .form-item-field-featured-categories-und > label,
.page-node-add .field-name-field-featured-categories > .form-item-field-featured-categories-und > label {
    display: none;
}

.page-node-edit .container-inline-date > .form-item,
.page-node-add .container-inline-date > .form-item {
    border: 0;
    margin: 0;
}

.page-node-edit .container-inline-date .date-padding,
.page-node-add .container-inline-date .date-padding {
    float: none;
    padding: 0;
}

.page-node-edit .container-inline-date .form-item-date-time,
.page-node-edit .container-inline-date .form-item-date-date,
.page-node-add .container-inline-date .form-item-date-time,
.page-node-add .container-inline-date .form-item-date-date {
    padding-bottom: 1em;
}

.page-node-edit .container-inline-date .form-item-date-time,
.page-node-add .container-inline-date .form-item-date-time {
    clear: left;
}

.page-node-edit .form-item-date-time label,
.page-node-edit .form-item-date-date label,
.page-node-edit .form-item-name label,
.page-node-add .form-item-date-time label,
.page-node-add .form-item-date-date label,
.page-node-add .form-item-name label {
    width: 49px;
}

.page-node-edit .container-inline-date .form-item-date-date .description,
.page-node-edit .container-inline-date .form-item-date-time .description,
.page-node-add .container-inline-date .form-item-date-date .description,
.page-node-add .container-inline-date .form-item-date-time .description {
    display: none;
}

#active-vertical-tab {
    height: 1px;
    overflow: hidden;
}

#views-ajax-body form {
    background-color: #FFF;
}

.form-item-uid {
    position: relative;
}

.views-exposed-form .views-exposed-widget {
    float: left;
    padding: .5em 1em 0 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
}

.views-exposed-form .form-item,
.views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
}

.views-exposed-form label {
    font-weight: bold;
}

.views-exposed-widgets {
    margin-bottom: .5em;
}

.views-align-left {
    text-align: left;
}

.views-align-right {
    text-align: right;
}

.views-align-center {
    text-align: center;
}

.views-view-grid tbody {
    border-top: none;
}

.view .progress-disabled {
    float: none;
}g